<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the homepage !! </h1>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Voluptatum totam voluptatem nisi fugiat hic! Dolore, eum deserunt! 
        Perspiciatis inventore sed animi unde harum, est officia cumque, maxime assumenda, 
        placeat voluptas?
    </p>

    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="logout" name="logout">
    </form>


</body>
</html>