<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2> Scan Qrcode with google authenticator </h2>
   <div> {{ qr_code|safe }} </div>

    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="token" placeholder="Enter the 6 digit code from Authenticator app">
        <button type="submit">Submit</button>
    </form>

    <!-- {% if error %}
    <ul>
    <li>{{ error }}</li>
    </ul>
    {% endif %} -->

</body>
</html>